<div class=contextual>
  <%= link_to l(:update_settings), plugin_settings_path('issuecloser') %>
</div>

<h2><%= t :label_issue_closer %></h2>

<p>
  <%= t 'issues_count' %>: <%= @issues_all_count %>
  <br>
  <%= t 'issues_to_be_changed' %>: <%= @issues_to_change_count %>
</p>

<table class="list">
  <thead>
  <tr>
    <th><%= t 'field_project' %></th>
    <th><%= t 'field_created_on' %></th>
    <th><%= t 'field_subject' %></th>
    <th><%= t 'status_from' %></th>
    <th><%= t 'status_to' %></th>
    <th><%= t 'action' %></th>
  </tr>
  </thead>
  <tbody>
  <% @issues_to_change_paginated.each do |issue| %>
    <tr>
      <td><%= link_to_project(issue.project) %></td>
      <td><%= format_date(issue.created_on) %></td>
      <td><%= link_to_issue issue %></td>
      <td><%= issue.status %></td>
      <td><%= @status_to %></td>
      <td><%= link_to t('make_new_status'), issuecloser_update_path(id: issue.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<span class="pagination"><%= pagination_links_full @issues_to_change_pages, @issues_to_change_count %></span>

