<h3><%= t :label_issue_closer %></h3>
<div class="tabular settings">
  <p>
    <%= setting_label(:auto_close) %>
    <%= check_box_tag('settings[auto_close]', true, @settings['auto_close']) %>
  </p>
  <p>
    <% statuses = IssueStatus.where('is_closed=?', false).map {|s| [s.name, s.id]} %>
    <%= setting_label(:issues_status_from) %>
    <%= select_tag('settings[issues_status_from]',
                   options_for_select(statuses, @settings['issues_status_from']), multiple: true) %>
  </p>
  <p>
    <% statuses = IssueStatus.where('is_closed=?', true).map {|s| [s.name, s.id]} %>
    <%= setting_label(:issues_status_to) %>
    <%= select_tag('settings[issues_status_to]',
                   options_for_select(statuses, @settings['issues_status_to'])) %>
  </p>
  <p>
    <%= setting_label(:auto_close_after_days) %>
    <%= text_field_tag 'settings[auto_close_after_days]', @settings['auto_close_after_days'] %>
  </p>
  <p>
    <%= setting_label(:closing_note) %>
    <%= text_area_tag 'settings[closing_note]', @settings['closing_note'] %>
  </p>
  <p>
    <%= setting_label(:update_author) %>
    <%= select_tag('settings[update_author]', principals_options_for_select(Principal.active.sorted, @settings['update_author'])) %>
  </p>
  <hr>
  <p>
    <%= link_to t(:settings_manual_change), issuecloser_path %>
  </p>
</div>
